<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <mat-form-field appearance="fill">
      <mat-label>Favorite Animal</mat-label>
      <input matInput [(ngModel)]="data.animal">
    </mat-form-field>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip [mat-dialog-close]="'Dog'">Dog</mat-chip>
      <mat-chip [mat-dialog-close]="'Cat'">Cat</mat-chip>
    </mat-chip-list>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
  </div>